* {
    background-color: darkgray;
}

p {
    background-color: hotpink
}
/* pseudo selektory */
/* ctrl shif / */

#par1::before, #par1::after {
    content: '*';
    color: #fff;
    font-size: 3em;
}

#par2::first-line {
    color: yellow;
}

#par2::first-letter {
    color: darkblue;
    font-size: 3em;
}

#par1::first-letter {
    color: darkblue;
    font-size: 10em;}

/* pseudo klasy */

a:visited {
    color: red;
    
}
a:hover {
    color: green;
    font-size: 2em; 
}
a:active {
    color: black;
}

input:focus {
    background-color: red;
}

p:target {
    background-color: cyan;
}

















